<nav class="w-full bg-slate-500">
    <div class="w-full flex flex-wrap items-center justify-between p-4 gap-y-4">
        <span class="flex gap-x-4 items-center">
            <img src="icon.png" class="w-10 h-10 rounded-xl">
            <span class="self-center text-xl font-semibold text-white">FitTrack</span>
        </span>

        <button (click)="toggleMenu()" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white rounded-lg md:hidden hover:bg-slate-600">
            <svg class="w-5 h-5" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>

        <div class="w-full md:flex md:w-auto" [class.hidden]="!isMenuOpen">
            <ul class="flex flex-col md:flex-row font-normal p-2 rounded-xl bg-slate-400 md:gap-x-4">
                <li>
                    <a routerLink="/"
                        class="flex flex-row items-center gap-x-4 px-4 py-2 md:p-2 text-white rounded-lg hover:bg-slate-300"
                        aria-current="page">
                        <i class="fa-solid fa-house"></i>
                        <span *ngIf="isMenuOpen">Accueil</span>
                    </a>
                </li>
                <li *ngIf="isLogged()">
                    <button (click)="logout()"
                        class="w-full flex flex-row items-center gap-x-4 px-4 py-2 md:p-2 text-white rounded-lg hover:bg-slate-300"
                        aria-current="page">
                        <i class="fa-solid fa-power-off"></i>
                        <span *ngIf="isMenuOpen">Déconnexion</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>