<div class="w-full flex flex-col items-center gap-y-4 md:gap-y-10">
    <h1 class="text-2xl font-bold">Liste des aliments</h1>
    <div class="w-full border-t border-black mb-4 md:mb-8"></div>

    <div class="w-full md:w-2/5 flex flex-row justify-evenly">
        <a routerLink="/food-new" class="bg-green-300 hover:bg-green-400 rounded-xl px-3 py-2">
            <i class="fa-regular fa-plus"></i>
        </a>

        <a routerLink="/calculator" class="bg-rose-300 hover:bg-rose-400 rounded-xl px-3 py-2">
            <i class="fa-solid fa-rotate-left"></i>
        </a>
    </div>

    <div></div>
</div>